body {
  background-color: #c8f5c8;
}

.look_navbar {
    font-size: larger;
    text-align: center;
    margin-bottom: -30px;
    z-index: 2000;
    position: relative;
}

.logo_site {
  max-width: 100px;
  max-height: 100px;
}

.connexion-item,
.deconnexion-item {
  align-items: end;
}

.ml-3 {
    margin-left: 1rem !important;
}

.center {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

.mce-content-body {
    background: #c8f5c8;
}